In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
# get titanic & test csv files as a DataFrame
titanic_df = pd.read_csv("titanic_train.csv")
test_df= pd.read_csv("titanic_test.csv")
# preview the data
titanic_df.head()
test_df.head()
titanic_df.info()
print("----------------------------")
test_df.info()
titanic_df = titanic_df.drop(['PassengerId','Name','Ticket'], axis=1)
test_df    = test_df.drop(['Name','Ticket'], axis=1)
titanic_df.head()   
test_df.head()
titanic_df["Embarked"] = titanic_df["Embarked"].fillna("S")
test_df["Embarked"] = test_df["Embarked"].fillna("S")
titanic_df.info()
print("----------------------------")
test_df.info()
titanic_df["Age"] = titanic_df["Age"].fillna(titanic_df["Age"].median())
test_df["Age"] = test_df["Age"].fillna(test_df["Age"].median())
titanic_df.info()
print("----------------------------")
test_df.info()
titanic_df["Fare"] = titanic_df["Fare"].fillna(titanic_df["Fare"].median())
test_df["Fare"] = test_df["Fare"].fillna(test_df["Fare"].median())
titanic_df.info()
print("----------------------------")
test_df.info()
titanic_df["FamilySize"] = titanic_df["SibSp"] + titanic_df["Parch"] + 1
test_df["FamilySize"] = test_df["SibSp"] + test_df["Parch"] + 1
titanic_df["IsAlone"] = 0
test_df["IsAlone"] = 0
titanic_df.loc[titanic_df["FamilySize"] == 1, "IsAlone"] = 1
test_df.loc[test_df["FamilySize"] == 1, "IsAlone"] = 1
titanic_df = titanic_df.drop(['Parch', 'SibSp', 'FamilySize'], axis=1)
test_df    = test_df.drop(['Parch', 'SibSp', 'FamilySize'], axis=1)
titanic_df.head()
test_df.head()
titanic_df["Age*Class"] = titanic_df.Age * titanic_df.Pclass
test_df["Age*Class"] = test_df.Age * test_df.Pclass
titanic_df.head()
test_df.head()
titanic_df = titanic_df.drop(['Cabin'], axis=1)
test_df    = test_df.drop(['Cabin'], axis=1)
titanic_df.head()
test_df.head()
titanic_df = titanic_df.drop(['Embarked'], axis=1)
test_df    = test_df.drop(['Embarked'], axis=1)
print(titanic_df.head())
test_df.head()
#convert the sex column in  to numeric values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
----------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Cabin     204 non-null    object
 8   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB
----------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    object
 3   Age          332 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         417 non-null    float64
 7   Cabin        91 non-null     object
 8   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 29.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Cabin     204 non-null    object
 8   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB
----------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    object
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         417 non-null    float64
 7   Cabin        91 non-null     object
 8   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 29.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Cabin     204 non-null    object
 8   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB
----------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    object
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         418 non-null    float64
 7   Cabin        91 non-null     object
 8   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 29.5+ KB
   Survived  Pclass     Sex   Age     Fare  IsAlone  Age*Class
0         0       3    male  22.0   7.2500        0       66.0
1         1       1  female  38.0  71.2833        0       38.0
2         1       3  female  26.0   7.9250        1       78.0
3         1       1  female  35.0  53.1000        0       35.0
4         0       3    male  35.0   8.0500        1      105.0

   PassengerId  Pclass     Sex   Age     Fare  IsAlone  Age*Class
0          892       3    male  34.5   7.8292        1      103.5
1          893       3  female  47.0   7.0000        0      141.0
2          894       2    male  62.0   9.6875        1      124.0
3          895       3    male  27.0   8.6625        1       81.0
4          896       3  female  22.0  12.2875        0       66.0

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split
X = titanic_df.drop("Survived", axis=1)
Y = titanic_df["Survived"]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)
logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_train, Y_train) * 100, 2)
acc_log
coeff_df = pd.DataFrame(titanic_df.columns.delete(0))
coeff_df.columns = ['Feature']
coeff_df["Correlation"] = pd.Series(logreg.coef_[0])
coeff_df.sort_values(by='Correlation', ascending=False)

ValueError: could not convert string to float: 'male'